body {
	background-color: deeppink;
	color: black;
	font-family: "cursive;";", sans-serif; /*list down back-up fonts to use*/
}
p {
	margin: 50px;
	padding: 10px;
	/*if you want a border around your paragraphs*/
	/*border-style: solid;
	border-color: limegreen;
	border-width: 10px;*/
	text-align: justify;
}

h2{
	color:lightsalmon;}


#top_header{
	color: blue;
	font-size: 30px;
}

.item1{color:red;}

ul li {background color: cornflowerblue;}

div > p { color: orange;
		font-size: 20px;}

#top_header:hover{background-color:black;}



